<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AEPG - Administration{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_admin') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                // URL
                const urlAdminAjaxArticleSwitchIsDisplayed = "{{url('admin_ajax_article_switch_is_displayed')|escape('js')}}";
                const urlAdminAjaxMemberRenderList = "{{url('admin_ajax_member_render_list')|escape('js')}}";
                const urlAdminAjaxMemberSwitchIsDisplayed = "{{url('admin_ajax_member_switch_is_displayed')|escape('js')}}";
            </script>
            {{ encore_entry_script_tags('app_admin') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            {% include "layouts/partials/admin/_navbar.html.twig" %}
        </header>
        <main>
            {% include "layouts/partials/admin/_side_menu.html.twig" %}
            <section class="container-fluid p-4">
                {% block body %}{% endblock %}
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
