<li class="list-group-item">{{member.email ? member.email }}</li>
<li class="list-group-item">{{member.currentJob ? member.currentJob : "Poste actuel N.R"}}</li>
<li class="list-group-item">{{member.facebookLink ? member.facebookLink : "Facebook N.R"}}</li>
<li class="list-group-item">{{member.linkedinLink ? member.linkedinLink : "Linkedin N.R"}}</li>
<li class="list-group-item">MAJ : {{member.updatedAt|date('d/m/Y à H:i')}}</li>
<li class="list-group-item bg-light fw-bold border-start border-end border-bottom">
    Renouvellement d'apparition
</li>
{% if member.renewalToken %}
<li class="list-group-item">
    <div class="alert alert-success text-center p-2 mb-0">
        Envoyé le : {{member.renewalSentAt|date('d/m/Y à H:i')}}
    </div>
</li>
<li class="list-group-item bg-light fw-bold border-start border-end border-bottom">
    Réponse au renouvellement
</li>
    {% if member.renewalAnswer %}
    <li class="list-group-item">
        <div class="alert alert-success text-center p-2 mb-0">
            Le {{member.renewalSentAt|date('d/m/Y à H:i')}} <br>
            L'utilisateur a répondu : {{member.renewalAnswer}}
        </div>
    </li>
    {% else %}
    <li class="list-group-item">
        <div class="alert alert-warning text-center p-2 mb-0">
            En attente d'une réponse
        </div>
    </li>
    {% endif %}
{% else %}
<li class="list-group-item">
    <div class="alert alert-info text-center p-2 mb-0">
        Aucune demande de renouvellement envoyée
    </div>
</li>
{% endif %}