{% extends 'layouts/base_admin.html.twig' %}

{% block title %}AEPG - Actualités{% endblock %}

{% block body %}
<h1>Actualités de l'association</h1>
<table>
    <thead>
        <th>Intitulé</th>
        <th>Auteur(s)</th>
        <th>Publier/Cacher</th>
        <th>Date de création</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.isHidden ? 'caché' : 'publié'}}</td>
            <td>{{article.createdAt|date('d/m/Y à H:i')}}</td>
            <td>
                <a href="{{path('admin_article_show', {slug: article.slug})}}">voir</a>
                <a href="{{path('admin_article_edit', {slug: article.slug})}}">modifier</a>
                <a 
                    href="#"
                    onclick="
                        event.preventDefault();
                        confirm('Voulez-vous vraiment supprimer cet article ? (action irréversible)') &&
                        document.getElementById('js-article-delete-form').submit();"
                >
                    supprimer
                </a>
                <form action="{{path('admin_article_delete', {slug: article.slug})}}" id="js-article-delete-form" method="POST" style="display: none;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('article_deletion_' ~ article.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
