{% extends 'layouts/base_admin.html.twig' %}

{% block title %}AEPG - Actualités{% endblock %}

{% block body %}
<section class="row">
    <h1>Actualités de l'association</h1>
    <form action="">

    </form>
    {% for article in articles %}
    <div class="col-sm-6 col-xl-4 mb-5">
        <div class="card">
            <img src="{{asset(article.image)}}" alt="" class="img-card">
            <div class="card-body">
                <h4 class="card-title fw-bold">{{article.title}}</h4>
                {{article.content|u.truncate(100, '...', false)|raw}}
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a href="{{path('admin_article_show', {slug: article.slug})}}" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                <a href="{{path('admin_article_edit', {slug: article.slug})}}" class="btn btn-sm btn-warning text-white"><i class="fas fa-edit"></i></a>
                <a href="" class="btn btn-sm btn-danger text-white"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning">
        <p>
            Aucun article n'a été trouvé.
        </p>
    </div>
    {% endfor %}
</section>
{% endblock %}

{# <td>
    <a href="{{path('admin_article_show', {slug: article.slug})}}">voir</a>
    <a href="{{path('admin_article_edit', {slug: article.slug})}}">modifier</a>
    <a 
        href="#"
        onclick="
            event.preventDefault();
            confirm('Voulez-vous vraiment supprimer cet article ? (action irréversible)') &&
            document.getElementById('js-article-delete-form').submit();"
    >
        supprimer
    </a>
    <form action="{{path('admin_article_delete', {slug: article.slug})}}" id="js-article-delete-form" method="POST" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('article_deletion_' ~ article.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
</td> #}